{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row align-middle ">
        <div class="col-6">
            <div>
                <h1 style="font-size: 60px">Caring4Sharing</h1>
            </div>
            <div>
                <p>
                    <strong>Về chúng tôi</strong>
                <br>
                Ra đời vào tháng 10/2023, Caring4Sharing là một trang web phi lợi nhuận giúp kết nối những chiến dịch, dự án vì cộng đồng của người trẻ Việt Nam đến với các nhà hảo tâm - những người có mong muốn giúp đỡ, sẵn sàng đóng góp của cải vật chất của bản thân vào các chương trình thiện nguyện.
                <br><br>
                Với thông điệp Caring4Sharing, chúng tôi mong muốn được nhìn thấy sự phát triển của các dự án, chiến dịch ý nghĩa xuất phát từ mối quan tâm của những người trẻ về xã hội hiện nay, đi cùng với đó là sự hỗ trợ về tài chính từ cộng đồng. Từ đó, góp phần thúc đẩy những việc làm tử tế, tác động tích cực lên xã hội.
                </p>
            </div>
            <button class="btn btn-suceess btn-sm">Ủng hộ trang web</button>
        </div>
        <div class="col-6">
            <div>
                <img src="/static/image.png" alt="" style="max-width: 100%">
            </div>
        </div>
    </div>
</div>
{% endblock %}